/* third-party icon fonts  */
@import url("http://weloveiconfonts.com/api/?family=brandico");
/* brandico */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kristiantran\/Development\/personal\/ktran13\.github\.com\/sass\/sass\/main\.scss}line{font-family:\000034}}
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  text-rendering: optimizeLegibility;
  font-size: 15pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kristiantran\/Development\/personal\/ktran13\.github\.com\/sass\/sass\/main\.scss}line{font-family:\0000312}}
body {
  font-family: 'Helvetica Neue';
  margin-left: 20px;
  margin-top: 50px;
}

/* elements */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kristiantran\/Development\/personal\/ktran13\.github\.com\/sass\/sass\/main\.scss}line{font-family:\0000319}}
h1 {
  font-weight: 100;
  color: #31b7de;
  margin: 2px 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kristiantran\/Development\/personal\/ktran13\.github\.com\/sass\/sass\/main\.scss}line{font-family:\0000324}}
h3 {
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 112%;
  color: #31b7de;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kristiantran\/Development\/personal\/ktran13\.github\.com\/sass\/sass\/main\.scss}line{font-family:\0000330}}
img {
  width: 100px;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
  opacity: 1.0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kristiantran\/Development\/personal\/ktran13\.github\.com\/sass\/sass\/main\.scss}line{font-family:\0000337}}
p {
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kristiantran\/Development\/personal\/ktran13\.github\.com\/sass\/sass\/main\.scss}line{font-family:\0000340}}
img:hover {
  opacity: 0.4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kristiantran\/Development\/personal\/ktran13\.github\.com\/sass\/sass\/main\.scss}line{font-family:\0000343}}
ul {
  padding: 10px;
  margin: 0px 0 10px 0;
  background-color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kristiantran\/Development\/personal\/ktran13\.github\.com\/sass\/sass\/main\.scss}line{font-family:\0000348}}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

/* links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kristiantran\/Development\/personal\/ktran13\.github\.com\/sass\/sass\/main\.scss}line{font-family:\0000354}}
a:link, a:visited {
  text-decoration: none;
  color: #31b7de;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kristiantran\/Development\/personal\/ktran13\.github\.com\/sass\/sass\/main\.scss}line{font-family:\0000359}}
a:hover {
  text-decoration: none;
  background-color: rgba(191, 201, 199, 0.4);
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kristiantran\/Development\/personal\/ktran13\.github\.com\/sass\/sass\/main\.scss}line{font-family:\0000364}}
a:active {
  text-decoration: none;
  color: #BFC9C7;
}

/* classes */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kristiantran\/Development\/personal\/ktran13\.github\.com\/sass\/sass\/main\.scss}line{font-family:\0000370}}
.header-content {
  width: 100%;
  height: 10%;
}

/* responsive */
@media (max-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kristiantran\/Development\/personal\/ktran13\.github\.com\/sass\/sass\/main\.scss}line{font-family:\0000377}}
  h1 {
    font-size: 36px;
    padding: 5px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kristiantran\/Development\/personal\/ktran13\.github\.com\/sass\/sass\/main\.scss}line{font-family:\0000381}}
  li {
    padding: 5px;
    display: block;
  }
}
